<div class="styleguide-example">

  <h3><%= @section.section %> <em><%= @section.filename %></em></h3>
  <div class="styleguide-description markdown-body">
    <%= kss_markdown kss_h(@section.description) %>
    <% if @section.modifiers.any? %>
      <ul class="styleguide-modifier">
        <% @section.modifiers.each do |modifier| %>
          <li><strong><%= modifier.name %></strong> - <%= modifier.description %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="styleguide-element">
    <%= @block_html.gsub('$modifier_class', '') %>
  </div>
  <% @section.modifiers.each do |modifier| %>
    <div class="styleguide-element styleguide-modifier">
      <span class="styleguide-modifier-name"><%= modifier.name %></span>
      <%= @block_html.gsub('$modifier_class', " #{modifier.class_name}") %>
    </div>
  <% end %>
  <div class="styleguide-html">
    <pre><code class="language-markup"><%= kss_h @block_html.gsub('$modifier_class', '').gsub(' class=""', '') %></code></pre>
  </div>

</div>
